h1,
.bright,
label {
   color:#fbc403; 
}

.bright-bg {
   background-color: #ebe6d4;
}

.input:focus{
  border-bottom: 2px solid #fbc403;
}

#wallpaper {
	filter: opacity(0.5);
	-webkit-filter: opacity(0.5);
	-ms-filter: opacity(0.5);
}

input,textarea{
	background-color:#f1e9cd;
}

/* cycling themes (a till f) */

/*
body.c {
	filter: hue-rotate(90deg);
}
body.c img,
body.c .img{
	filter: hue-rotate(-90deg);	
}
*/
